{
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "node": true
  },
  "globals": {
    "expect": true,
    "describe": true,
    "it": true
  },
  "rules": {
    "react/jsx-filename-extension": 0,
    "operator-linebreak": [2, "before"],
    "newline-per-chained-call": [2, { "ignoreChainWithDepth": 2 }],
    "arrow-body-style": [2, "as-needed"],
    "max-len": [
      2,
      {
        "code": 80,
        "ignoreUrls": true,
        "ignoreTemplateLiterals": true,
        "ignoreComments": true
      }
    ]
  }
}
